@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Paytone+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  display: inline-block;
  width: 100%;
}

.title {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  font-size: 34px;
}

.title p {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.title p::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightpink;
  top: -5px;
  left: -5px;
  z-index: -1;
}

.mini-title {
  text-align: center;
  font-size: 24px;
  padding: 20px 0;
}

.mini-title::after,
.mini-title::before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 2px;
  background-color: #fff;
  vertical-align: middle;
  margin: 0 10px;
}